[submodule "sketches"]
	path = sketches
	url = git@github.com:m-avolio/sketches.git
[submodule "googly_eyes"]
	path = googly_eyes
	url = https://github.com/m-avolio/googly_eyes.git
[submodule "googly_eye"]
	path = googly_eye
	url = https://github.com/m-avolio/googly_eye.git
